.wrap{
    margin: 0 auto; /* 화면 가운데로 */
    text-align: center;
    /* vertical-align: middle; */
}
.wrap table{
    margin: 0 auto;
    border: 1px solid #444444;
    border-collapse: collapse;
}
.wrap th, td{
    border: 1px solid #444444;
    padding: 5px;
}
.wrap th{
    background-color: #e8e8e8;
}
.cmd{
    text-align: center;
    padding: 10px 20px;
    width: 200px;
    border-radius: 50px;
    border: 1px solid #e8e8e8;
    background-color:#000;  
    color: #fff;
    cursor:pointer;
    /* float: right; */
}
.cmd:hover{
    /* background: #3300ff; */
    background: #0077FF;
}
.Logout{
    text-align: left;
    padding: 10px 20px;
    border-radius: 50px;
    /* border: 1px solid #e8e8e8; */
    background-color: #fff;
    color: #000;
    cursor:pointer;
    transition: 0.3s;
}
.Logout:hover{
    /* background: #3300ff; */
    opacity: 1;
    color: #fff;
    background: #0077FF;
    border-color: #0077FF;
}
.modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}